input, button {
    border: none;
    outline: none;
    background: none;
  }
  
  
  .cont {
    overflow: hidden;
    width: 100%;
    margin: 4rem 0;
    background: transparent
  }
  
  .form {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  
  .form_panel {
      flex: 2;
  }

  .side_panel {
      flex: 1;
      background-image: url('../img/nat-4.jpg');
      background-size: cover;
      background-position: top;
  }
  
  button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
 
  
  h2, h3 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  
  label {
    display: block;
    width: 80%;
    margin: 25px auto 0;
    text-align: center;
  }
  label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
  
  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
  }
  

  @media only screen and (max-width: 960px) {
      .side_panel {
          display: none;
      }
  }